body {
  background-color: #232323;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

.square {
  background: purple;
  width: 30%;
  margin: 1.66%;
  float: left;
  padding-bottom: 30%;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transform:background 0.6s;
  -moz-transition:background 0.6s;
}

#colorDisplay {
  font-size: 200%;
}

#container {
  width: 600px;
  margin: 20px auto;
}

h1 {
  color: White;
  line-height: 1.1;
  background-color: steelblue;
  text-align: center;
  color: white;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
  transition: all 0.4s;
  -webkit-transform:all 0.4s;
  -moz-transition:all 0.4s;
}

button {
  border: none;
  outline: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  color: steelblue;
  font-size: inherit;
  transition: all 0.4s;
  -webkit-transform:all 0.4s;
  -moz-transition:all 0.4s

}

button:hover {
  background: steelblue;
  color: white;
}

.selected {
  background: steelblue;
  color: white;
}

#result {
  width: 20%;
  display: inline-block;
  font-weight: 700;
  transition: all 0.4s;
}

#stripe {
  background-color: white;
  text-align: center;
  height: 25px;
}
